In [7]:
from bs4 import BeautifulSoup
import requests

In [8]:
url = "https://gfmag.com/data/biggest-company-in-the-world/"

page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [ ]:
print(soup)

In [ ]:
soup.find_all('table')[1]

In [ ]:
soup.find('table', class_ = 'has-fixed-layout')

In [114]:
table = soup.find_all('table')[1]

In [ ]:
print(table)

In [116]:
world_titles = table.find_all('th')

In [ ]:
world_titles

In [ ]:
world_table_titles =[ title.text.strip() for title in world_titles]

print(world_table_titles)

In [119]:
import pandas as pd

In [120]:
df = pd.DataFrame(columns=world_table_titles)

df

Empty DataFrame
Columns: [Rank, Company, Revenues ($M), Profits ($M), Assets ($M), Employees]
Index: []

In [130]:
column_data = table.find_all('tr')

In [138]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data =[ data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row_data

In [139]:
df

,Rank,Company,Revenues ($M),Profits ($M),Assets ($M),Employees
0,1,Walmart,"680,985","19,436","260,823","2,100,000"
1,2,Amazon,"637,959","59,248","624,894","1,556,000"
2,3,State Grid,"548,414","10,045","797,694","1,354,310"
3,4,Saudi Aramco,"480,194","104,982","645,097","75,118"
4,5,China National Petroleum,"412,645","22,424","607,615","985,155"
5,6,Sinopec,"407,490","8,036","375,395","495,096"
6,7,UnitedHealth,"400,278","14,405","298,278","400,000"
7,8,Apple,"391,035","93,736","364,980","164,000"
8,9,CVS Health,"372,809","4,614","253,215","259,500"
9,10,Berkshire Hathaway,"371,433","88,995","1,153,881","392,400"
10,11,McKesson,"359,051","3,295","75,140","44,000"
11,12,Volkswagen,"351,093","12,275","655,317","646,501"
12,13,Alphabet,"350,018","100,118","450,256","183,323"
13,14,Exxon Mobil,"349,585","33,680","453,475","60,900"
14,15,Toyota Motor,"315,110","31,258","624,467","383,853"
15,16,China State Construction Engineering,"304,121","3,667","438,013","361,249"
16,17,Cencora,"293,959","1,509","67,102","44,000"
17,18,Shell,"289,029","16,094","387,609","96,000"
18,19,JPMorgan Chase,"278,906","58,471","4,002,814","317,233"
19,20,Costco Wholesale,"254,453","7,367","69,831","333,000"

In [142]:
df.to_csv('camp.csv')